<a href="https://colab.research.google.com/github/Patricia-Serpa/Curriculo/blob/main/Analise_Paises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

In [ ]:
# Visualizar o arquivo
df = pd.read_csv('/content/Gapminder.csv',error_bad_lines=False,sep=';')

In [ ]:
# Visualizando as 5 primeiras linhas
df.head()

In [ ]:
# Renomear as colunas
df = df.rename(columns={'country':'pais','continent':'continente','year':'ano','lifeExp':'Expectativa de vida','pop':'populacao','gdpPercap':'PIB'})

In [ ]:

df.head()

In [ ]:
# Total de linhas e colunas
df.shape

(3312, 6)

In [ ]:
# Retorna apenas os nomes da coluna
df.columns

Index(['pais', 'continente', 'ano', 'Expectativa de vida', 'populacao', 'PIB'], dtype='object')

In [ ]:
# dados das colunas
df.dtypes

pais                    object
continente              object
ano                      int64
Expectativa de vida    float64
populacao                int64
PIB                    float64
dtype: object

In [ ]:
# Retorna as ultimas linhas
df.tail()

In [ ]:
# Informações estatisticas
df.describe()

               ano  Expectativa de vida     populacao            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165877
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [ ]:
# Retornar os valores da coluna
df['continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
# Localizar o valor de um item dentro da coluna
oceania = df.loc[df['continente'] == 'oceania']
df.head()

          pais continente   ano  Expectativa de vida  populacao         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [ ]:
# Quantos paises para cada continente
df.groupby('continente')['pais'].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: pais, dtype: int64

In [ ]:
# Para cada ano, Qual a expectativa de vida média para cada pais
df.groupby('ano')['Expectativa de vida'].mean()

In [ ]:
df['PIB'].mean()

11317.115804696637

In [ ]:
df['PIB'].sum()

37482287.5451553